.gradle
/build
!gradle/wrapper/gradle-wrapper.jar

### MAC OS ###
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

logs
/classes
~$*

/config/application.properties